<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Actas Codereview
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Acta 001 02/05/2019</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content (click)="openLocalPdf(viewfilePath, 'Code_review')">
            <p>aqui va la informacion general del acta</p>
        </ion-card-content>
    </ion-card>

    ***************************


    <form #fileForm="ngForm" (ngSubmit)="sendFiles()" >
        <ion-thumbnail class="avatar_image">
            <img src="/assets/logo_pysltda.png" width="100%" height="100%">
        </ion-thumbnail>
        <div class="form_content">
            <ion-input type="text" placeholder="titulo" class="ion_input" #titulo="ngModel"
                       [(ngModel)]="fileInput.titulo" name="titulo" required></ion-input>

            <ion-input type="text" placeholder="contenido" class="ion_input"
                       #contenido="ngModel" name="contenido" [(ngModel)]="fileInput.contenido" name="contenido"
                       required></ion-input>

            <input type="file" accept="image/*" (change)="changeListener($event)" multiple />
            <ion-button class="ion_button_send" type="submit" [disabled]="!fileForm.form.valid">Acceder</ion-button>
        </div>
    </form>
</ion-content>


