<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Actas Codereview
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card>
        <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content (click)="openLocalPdf()">
            <pdf-viewer [src]="viewfilePath" [render-text]="true" [zoom]="0.5" [original-size]="false"
                        style="display: block; width: 100%; height: 150px"></pdf-viewer>
        </ion-card-content>
    </ion-card>

</ion-content>


