<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Actas Codereview
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card>
        <ion-card-header>
            <ion-card-title>Acta 001</ion-card-title>
        </ion-card-header>

        <ion-card-content (click)="openLocalPdf()">
            {{viewfilePath}}
            <pdf-viewer src="{{viewfilePath}}" [render-text]="true" [original-size]="false" [page]="1"
                        style="display: block; width: 100%; height: 55px"></pdf-viewer>
        </ion-card-content>
    </ion-card>

</ion-content>


