<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Relacion de Horas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #RelacionHorasForm="ngForm" (ngSubmit)="enviarHoras()">
    <ion-list>
      <ion-item>
        <ion-label>Fecha Reporte</ion-label>
        <ion-datetime display-format="YYYY-MM-DD" placeholder="Seleccionar Fecha" name="fechareporte"
                      #fechareporte="ngModel" [(ngModel)]="reporte.fechareporte" cancel-text ="Cancelar" done-text="Aceptar" mode="md" required></ion-datetime>
      </ion-item>

    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Tipo Actividad</ion-label>
        <ion-select placeholder="Seleccionar" name="tipoactividad" #tipoactividad="ngModel"
                    [(ngModel)]="reporte.tipoactividad" required>
          <ion-select-option *ngFor="let valueTipoactividad of tipoactividades"
                             value="{{valueTipoactividad.cod_tipo_actividad}}">{{valueTipoactividad.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <ion-label>Iniciativa</ion-label>
            </ion-col>
            <ion-input placeholder="0000" mask="0000000000" maxlength="10" name="iniciativa" #iniciativa="ngModel"
                       [(ngModel)]="reporte.iniciativa" required></ion-input>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Proceso</ion-label>
        <ion-select placeholder="Seleccionar" name="proceso" #proceso="ngModel" [(ngModel)]="reporte.proceso" required>
          <ion-select-option *ngFor="let valueProceso of procesos"
                             value="{{valueProceso.cod_proceso}}">{{valueProceso.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Actividad</ion-label>
        <ion-select placeholder="Seleccionar" name="actividad" #actividad="ngModel"
                    [(ngModel)]="reporte.actividad" required>
          <ion-select-option *ngFor="let valueActividades of actividades"
                             value="{{valueActividades.cod_actividad}}">{{valueActividades.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>Modulo</ion-label>
        <ion-select placeholder="Seleccionar" name="modulo" #modulo="ngModel" [(ngModel)]="reporte.modulo" required>
          <ion-select-option *ngFor="let valueModulo of modulos"
                             value="{{valueModulo.cod_modulo}}">{{valueModulo.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
              <ion-label>Hora Inicio</ion-label>
            <ion-datetime display-format="HH:mm" #hora_inicio="ngModel" name="hora_inicio"
                          [(ngModel)]="reporte.hora_inicio" placeholder="Seleccionar Hora" cancel-text ="Cancelar" done-text="Aceptar" mode="ios"></ion-datetime>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-label>Hora Fin</ion-label>
        <ion-datetime display-format="HH:mm" #hora_final="ngModel" name="hora_final"
                      [(ngModel)]="reporte.hora_final" placeholder="Seleccionar Hora" cancel-text ="Cancelar" done-text="Aceptar" mode="ios"></ion-datetime>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <ion-label>Direccion</ion-label>
            </ion-col>
            <ion-input placeholder="Cra 30 / Alkosto 68" maxlength="50" name="direccion" #direccion="ngModel"
                       [(ngModel)]="reporte.direccion" required></ion-input>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-label>Detalle Actividad</ion-label>
            </ion-col>
            <ion-textarea placeholder="Describa la actividad realizada" name="detalleactividad"
                          #detalleactividad="ngModel" [(ngModel)]="reporte.detalleactividad" required></ion-textarea>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-button expand="full" shape="round" type="submit" [disabled]="!RelacionHorasForm.form.valid">Registrar</ion-button>
  </form>
</ion-content>
