<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-item>
            <ion-label style="text-align: center;">
                <ion-card-title>Reporte Horas</ion-card-title>
<!--                <input type="file" name="uploadExcel"/>-->
            </ion-label>
<!--            <ion-icon name="cloud-upload" slot="end" (click)="importarExcel()"></ion-icon>-->
        </ion-item>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" width="100%">
            <thead>
            <tr style="text-align: center;">
                <th>Fecha Reporte</th>
                <th>Horas Trabajadas</th>
                <th>Actividad</th>
                <th>Detalle Actividad</th>
                <th>Tipo Actividad</th>
                <th>Iniciativa</th>
                <th>Proceso</th>
                <th>Modulo</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor=" let tableReport of listHours">
                <td>{{tableReport.fecha_reporte}}</td>
                <td style="text-align: center;">{{tableReport.horas_trabajadas}}</td>
                <td style="text-align: center;">{{tableReport.actividad}}</td>
                <td>{{tableReport.detalle_actividad}}</td>
                <td style="text-align: center;">{{tableReport.tipo_actividad}}</td>
                <td>{{tableReport.iniciativa}}</td>
                <td style="text-align: center;">{{tableReport.proceso}}</td>
                <td style="text-align: center;">{{tableReport.modulo}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</ion-content>
